@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i|Righteous&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext,vietnamese');
body{ color: #474647;}
.text {color:#d3077d; }
.all {color:#d3077d; }
.box { display:in-line; width:auto; height:20px;
	background:#eee; border: 1px solid #b0aeb0;padding:15px;
	color: #d3077d; }
.out-box { display:block; width:auto; height:auto;
			border: 1px solid #eee; margin:2px;
			padding-left:20px; padding-top:20px; padding-bottom:20px;}

.gray {color:#474647; font-weight: 300;font-style: italic; }

.italic {font-style: italic;}
.title-1{color:#83044d}
.title-2{color:#a21767}
.title-3{color:#ae05a4}
.title-4{color: #d51fbc}
.title-5{color:#8d0654}

.sz-200 {font-weight: 200; font-family: 'Nunito Sans', sans-serif;}
.sz-300 {font-weight: 300; font-family: 'Nunito Sans', sans-serif;}
.sz-400 {font-weight: 400; font-family: 'Nunito Sans', sans-serif;}
.sz-500 {font-weight: 500; font-family: 'Nunito Sans', sans-serif;}
.sz-600 {font-weight: 600; font-family: 'Nunito Sans', sans-serif;}
.sz-700 {font-weight: 700; font-family: 'Nunito Sans', sans-serif;}
.sz-800 {font-weight: 800; font-family: 'Nunito Sans', sans-serif;}
.sz-900 {font-weight: 900; font-family: 'Nunito Sans', sans-serif;}
/*
.st-200 {font-weight: 200; font-family: 'Cuprum', sans-serif;}
.st-300 {font-weight: 300; font-family: 'Cuprum', sans-serif;}
.st-400 {font-weight: 400; font-family: 'Cuprum', sans-serif;}
.st-500 {font-weight: 500; font-family: 'Cuprum', sans-serif;}
.st-600 {font-weight: 600; font-family: 'Cuprum', sans-serif;}
.st-700 {font-weight: 700; font-family: 'Cuprum', sans-serif;}
.st-800 {font-weight: 800; font-family: 'Cuprum', sans-serif;}
.st-900 {font-weight: 900; font-family: 'Cuprum', sans-serif;}
*/
.st-200 {font-weight: 200; font-family: 'Quicksand', sans-serif;}
.st-300 {font-weight: 300; font-family: 'Quicksand', sans-serif;}
.st-400 {font-weight: 400; font-family: 'Quicksand', sans-serif;}
.st-500 {font-weight: 500; font-family: 'Quicksand', sans-serif;}
.st-600 {font-weight: 600; font-family: 'Quicksand', sans-serif;}
.st-700 {font-weight: 700; font-family: 'Quicksand', sans-serif;}
.st-800 {font-weight: 800; font-family: 'Quicksand', sans-serif;}
.st-900 {font-weight: 900; font-family: 'Quicksand', sans-serif;}